<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Simple.css-->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Django To-do Lists</title>
</head>

<body>
    <div>
    <h5><a href="{% url 'english_words_app:new_word' %}">add a word</a>
        <a href="{% url 'english_words_app:dictionary' %}">dictionary</a>
        <a href="{% url 'english_words_app:words_practice' %}">practice</a>
    </h5>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>